table {
  tbody {
    img {
      width: min(128px, 100%);
    }
  }
}

@media screen and (max-width: 760px) {
  .card {
    overflow-x: scroll;
  }
  table tbody tr td:first-child {
    padding-left: 16px;
  }
}
