<!--
  Recuerde conservar los id, no deben ser modificados
  ids = login__email, login__password, login__password-error, login__email-error, login__btn-login
-->
<div class="layout-row justify-content-center my-50">
  <form novalidate class="card w-75" (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <section class="card-text">
      <label>
        <input type="text" class="white large mb-10" id="login__email" placeholder="Email" formControlName="email"
          [class]="isValidField('email')">
        <p class="form-hint error-text mt-0" id="login__email-error"
          *ngIf="EmailField.errors?.required && EmailField.touched">Email is
          required</p>
      </label>
      <label>
        <input type="text" class="white large mb-10" id="login__password" placeholder="Password"
          formControlName="password" [class]="isValidField('password')">
        <p class="form-hint error-text mt-0" id="login__password-error"
          *ngIf="PasswordField.errors?.required && PasswordField.touched">Password
          is required
        <p class="form-hint error-text" id="login__password-error"
          *ngIf="PasswordField.errors?.minlength && PasswordField.touched">The
          minimum of characters will be 8</p>
      </label>
    </section>
    <section class="card-actions justify-content-center pt-0">
      <button class="w-100" id="login__btn-login" type="submit" [disabled]="loginForm.invalid">Log In</button>
    </section>
  </form>
</div>